*{
     font-family: 'Heebo', sans-serif;
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
}
.hero_section {
max-width: 1200px;
width: 100%;
margin: auto;
}

.nav_list {
padding: 27px 10px;
margin: auto;
}
.nav_container {
display: flex;
justify-content: flex-end;

}
.nav_item {
     list-style-type: none;
     margin-right: 33px;

}
.nav_link {
font-family: 'heebo'
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
text-align: right;
color: #000000;
text-decoration: none;

}

.hero_main {
     display: flex;
     align-items: center;
     padding-bottom: 71px;
     padding-right: 20px;
     padding-left: 20px;
     /* max-width: 855px; */
     width: 100%;
     margin: auto;
     height: auto;

}
.hero_main_content {
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     max-width: 856px;
     /* background-color: blanchedalmond; */
}
.main_left{
     max-width: 506px;

}
.greetings {
font-family: 'heebo'
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 60px;
color: #21243D;
margin-top: 150px;


}
.main_intro {
font-family: 'heebo'
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #21243D;
margin-top: 40px;

}
.resume_download {
font-weight: 500;
font-size: 20px;
line-height: 29px;
color: #FFFFFF;
background: #FF6464;
border-radius: 2px;
margin-top: 38px;
padding: 9px 21px 17px 20px;
border: none;
}

.main_right {
/* width: 243px; */
/* height: 243px; */
/* position: relative; */
/* margin-top: 50px; */
/* padding-left: 50px; */


}
.background_image {
     background: #E5E5E5;
     width: 100%;
     border-radius: 100%;
}

.rectangle_23 {
background: #EDF7FA;
width: 100%;
margin: auto;

}
.recent_vill_content {
     max-width: 856px;
     margin: auto;
     padding-bottom: 32px;
     padding-top: 27px;
     /* background-color: green; */
     margin-bottom: 15px;
}
.rectangle_24_25 {
     display: flex;
     text-align: center;

}

.recent_view_container {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 22px;
}
.recent_post {
     font-style: normal;
     font-weight: normal;
     font-size: 22px;
     line-height: 23px;
     color: #21243D;
     
}
.view_all {

font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #00A8CC;

}
.rectangle_24 {

width: 418px;
height: 295px;
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
border-radius: 4px;
margin-right: 0px;

}
.rectangle_24_h2{
     font-style: normal;
     font-weight: bold;
     font-size: 26px;
     line-height: 38px;
     color: #21243D;
     margin: 24px 21px 17px 23px;
     padding: 0px 2px 4px 0px;
     text-align: left;


}
.date_container {
     width: 374px;
     height: 34px;
     display: flex;


     font-family: 'heebo'
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #21243D;
margin-left: 23px;
margin-right: 21px;
margin-bottom: 11px;
margin-top: 17px;
}
.rectangle_24_date {
   margin-left: 0px;

}
.rectangle_24_Design_Pattern {
     margin-left: 20px;
}
.rectangle_24_p {
     width: 368px;
     height: 117px;
     left: 171px;
     top: 835px;
     
     font-family: 'heebo'
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 23px;
     color: #21243D;
     text-align: left;
     margin-right: 27px;
     margin-left: 23px;
     margin-top: 11px;
     margin-bottom: 7px;

}
.rectangle_25 {


     width: 418px;
     height: 295px;
     left: 586px;
     top: 664px;
     background: #FFFFFF;
     border-radius: 4px;
     margin-left: 20px;
     
}
.rectangle_25_h2 {
     font-style: normal;
     font-weight: bold;
     font-size: 26px;
     line-height: 38px;
     color: #21243D;
     margin: 24px 21px 17px 23px;
     padding: 0px 2px 4px 0px;
     text-align: left;

}
.date_container {
     width: 374px;
     height: 34px;
     display: flex;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #21243D;
margin-left: 23px;
margin-right: 21px;
margin-bottom: 11px;
margin-top: 17px;

}
.rectangle_25_date {
     margin-left: 0px;

}
.rectangle_244Design_Pattern {
    
     margin-left: 20px;

}
.rectangle_25_p {
     width: 368px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #21243D;
text-align: left;
margin: 11px 27px 7px 23px;

}

/*first section*/

.Featured_works_section {
     background: white;
     width: 100%;
     max-width: 856px;
     margin: auto;
     /* background-color: grey; */
     
}
.Featured_works {
font-weight: normal;
font-size: 22px;
color: #21243D;
padding-bottom: 22px;

}

.rectangle_30 {
width: 246px;
margin-right: 18px;
     
}
.Designing_Dashboards {
     width: 340px;
     height: 44px;
    
     font-weight: bold;
     font-size: 30px;
     color: black;

}

.dashboard_2020_container {
display: flex;
margin-top: 15px;
}

.div_2020 {
     width: 55px;
     height: 25px;
     left: 420px;
     top: 1123px;
     font-family: 'heebo'
     font-style: normal;
     font-weight: 900;
     font-size: 18px;
     text-align: center;
     padding-top: 2px;
     padding-bottom: 10px;
     color: #FFFFFF;
     background-color: black;
     border-radius: 20px;
     margin-left: 0px;
     margin-right: 36px;
     margin-bottom: 5px;
     
}
.dashboard {
     width: 374px;
     height: 35px;
     margin-bottom: 
     font-family: 'heebo'
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
  
     color: #8695A4;

}
.dashboard_p {
     width: 594px;
     height: 93px;
     margin-top: 17px;
     font-family:'heebo'
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 23px;
     color: #21243D;

}

.Designing_Dashboards_container {
     max-width: 594px;
}

.img_dashboard_container {
display: flex;

}
.horizontal_rule {
     width: 100%;
     border: 1px solid #E0E0E0;

}

/*second section*/

.img_Vibrant_container {
     display: flex;
     width: ;
     /* border: 2px solid green; */

}
.img_rectangle_32 {
width: 246px;
margin-right: 18px;


}
.Vibrant_Portraits_container {
     max-width: 594px;
     /* background-color: yellowgreen; */


}
.Vibrant_Portraits {
     width: 360px;
     height: 44px;
     font-family: 'heebo'
     font-style: normal;
     font-weight: bold;
     font-size: 30px;
     line-height: 44px;
     color: black;
     margin-bottom: 16px;


}
.Illustration_2018_container {
     display: flex;
     margin-top: 15px;
}
.div_2018 {
     width: 55px;
     height: 25px;
     font-family: 'heebo'
     font-style: normal;
     font-weight: 900;
     font-size: 18px;
     text-align: center;
     padding-top: 2px;
     padding-bottom: 10px;
     color: #FFFFFF;
     background-color: black;
     border-radius: 20px;
     margin-left: 0px;
     margin-right: 36px;
     margin-bottom: 5px;

}
.Illustration {
     width: 374px;
     height: 35px;
     margin-bottom: 
     font-family: 'heebo'
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
  
     color: #8695A4;

}
.Illustration_p {
     width: 594px;
     height: 93px;
     margin-top: 17px;
     
     font-family:'heebo'
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 23px;
     color: #21243D;

}
.horizontal_rule_2 {
     width: 100%;
}

/*section 3*/

.img_Vibrant_container {
     display: flex;
     width: ;
}
.img_rectangle_34 {
     width: 246px;
margin-right: 18px;
   
     
}
.days_of_malayalam_container {
     max-width: 594px;
}

.days_of_malayalam {
     width: 400px;
     height: 44px;
     font-family: 'heebo'
     font-style: normal;
     font-weight: bold;
     font-size: 30px;
     line-height: 44px;
     color: black;
     margin-bottom: 16px;
}
.Typography_2018_container{
     display: flex;
     margin-top: 15px;

}
.div_2018_2 {
     width: 55px;
     height: 25px;
     font-family: 'heebo'
     font-style: normal;
     font-weight: 900;
     font-size: 18px;
     text-align: center;
     padding-top: 2px;
     padding-bottom: 10px;
     color: #FFFFFF;
     background-color: black;
     border-radius: 20px;
     margin-left: 0px;
     margin-right: 36px;
     margin-bottom: 5px;
}
.Typography {
     width: 374px;
     height: 35px;
     margin-bottom: 
     font-family: 'heebo'
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
  
     color: #8695A4;

}
.Typography_p {
     width: 594px;
     height: 93px;
     margin-top: 17px;
     
     font-family:'heebo'
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 23px;
     color: #21243D;

}
.horizontal_rule_3 {
     width: 100%;
     margin-bottom: 83px;
     /* height: 0px; 
}*/

/*footer*/
}
.rectangle_40 {
     /* border: 2px solid blue; */
     text-align: center;
     padding-bottom: 26px;

}
.footer {
     /* border: 2px solid black; */
     max-width: 856px;
     margin: auto;

}
.copyright {
font-size: 14px;
padding-bottom: 54px;
text-align: center;
padding-top: 26px;

color: #21243D;
}


/* TABLET SCREEN  */

@media screen and (max-width: 768px) {
     body {
          max-width: 768px;
          margin: 0px;
          padding: 0px;
          background-color: antiquewhite;
     
          
     }
 
     /* navigation list */
      .nav_container {
           justify-content: left;
      }
 
      /* hero main section */
      .greetings {
           margin: 0px;
           font-size: 30px;
           line-height: 35px;
      }
      .main_intro, .resume_download {
           margin: 12px;
      }
      .hero_main {
           width: 100%;
      }
      .hero_main_content {
           flex-direction: column-reverse;
      }
      .main_right {
          margin-bottom: 15px;
      }
      .main_left {
           background-color: rgba(255, 99, 71, 0.233);
           max-width: 768px;
           width: 100%;
 
      }
     .resume_download:hover {
           color: #FFFFFF;
           background: darkgreen;
           
      }
 
      /* recent post section  */
      .rectangle_23 {
     background-color: navajowhite; 
     width: 100%;
      }
      .recent_vill_content {
           max-width: 768px;
           width: 80%;
           /* width: 100%;
           margin: 0px;
           background-color: cadetblue;
  */
      }
       .recent_view_container {
            justify-content: space-between;
            margin: auto;
      }
      .rectangle_24_25 {
           width: 100%;
          flex-direction: column-reverse;
         
           /* flex-direction: column; */
           margin:auto;
          
      }
      .rectangle_24, .rectangle_25 {
           
           width: 100%;
           margin: 5px 0px;
      
      }
      .rectangle_24_p, .rectangle_25_p {
           width: 100%;
           font-size: 17px;
           padding: 20px;
      }
    .rectangle_24_h2, .rectangle_25_h2 {
        width: 100%;
        margin: 20px;
     
    }
    .date_container {
        width: 100%;
        margin-left: 40px;
    }
 
    /* featured works section */
    .Featured_works_section {
         text-align: right;
         background-color: antiquewhite;
     
 
    }
    .Featured_works {
         padding: 0px;
         margin-bottom: 5px;
         text-decoration: underline;
    }
    .img_dashboard_container, .img_Vibrant_container {
         background-color: lightgrey;
         width: 100%;
    }
 
    .Designing_Dashboards, .dashboard_2020_container, 
    .Vibrant_Portraits, .Illustration_2018_container, 
    .days_of_malayalam, .Typography_2018_container {
     color:navy;
     width: 95%;
    }
    .Typography_2018_container, .Illustration_2018_container, .dashboard_2020_container{
         flex-direction: row-reverse;
         justify-content: space-between;

}
     .img_dashboard_container, .img_Vibrant_container, .img_Vibrant_container {
          flex-direction: row-reverse;
     }
     .dashboard_p, .Illustration_p, .Typography_p {
          width: 80%;
          margin: auto;
          text-align: justify;
     }
     .horizontal_rule_3 {
          margin: auto; 
     }
     .rectangle_40 {
          padding: 0px; 
           height: 100px;
     }
}

/* PHONE SCREEN  */

@media screen and (max-width: 375px), (max-width: 414px){
     body {
          margin: 5px;
          padding: 0px;
         
          
     }
 
     /* navigation list */
      .nav_item {
           display: none;
      }
 
      /* hero main section */
      .greetings {
           margin: 0px;
           font-size: 30px;
           line-height: 35px;
      }
      .main_intro, .resume_download {
           margin: 12px;
      }
      .main_right {
           display: none;
      }
      .main_left {
           background-color: azure;
      
 
      }
     .resume_download:hover {
 
           color: #FFFFFF;
           background: darkgreen;
           
      }
 
      /* recent post section  */
      .recent_vill_content {
           width: 100%;
           margin: 0px;
           background-color: cadetblue;
 
      }
       .recent_view_container {
            justify-content: space-between;
            margin: auto;
      }
      .rectangle_24_25 {
           flex-direction: column;
           margin:0px;
          
      }
      .rectangle_24, .rectangle_25 {
           width: 100%;
           margin: 5px 0px;
           overflow: hidden;
      
      }
      .rectangle_24_p, .rectangle_25_p {
           width: 300px;
           font-size: 14px;
           margin: auto;
      }
    .rectangle_24_h2, .rectangle_25_h2 {
         font-size: 20px;
         margin: 12px 10px 7px 15px;
    }
    .date_container {
         font-size: 15px;
         font-weight: bold;
         margin: 0px 17px;
    }
 
    /* featured works section */
    .Featured_works_section {
         margin-top: 20px;
         text-align: left;
         overflow: hidden;
 
    }
    .Featured_works {
         text-decoration: underline;
    }
    .img_dashboard_container, .img_Vibrant_container {
         background-color: lightblue;
    }
 
    .Designing_Dashboards, .dashboard_2020_container, 
    .Vibrant_Portraits, .Illustration_2018_container, 
    .days_of_malayalam, .Typography_2018_container {
      margin: auto;
      margin-top: 10px;
      font-size: 24px;
      margin-left: 10px;
    }
    .days_of_malayalam {
         margin-left: 5px;
     width: 100%;

    }
    .Typography_2018_container, .Illustration_2018_container, .dashboard_2020_container{
     flex-direction: column;
     margin: auto;
     /* justify-content:flex-end; */

}
.img_rectangle_32, .img_rectangle_34, .rectangle_30 {
     display: none;
}
     .img_dashboard_container, .img_Vibrant_container, .img_Vibrant_container {
          flex-direction: column;
     }
     .dashboard_p, .Illustration_p, .Typography_p {
          max-width: 350px;
          width: 100%;
          margin: 10px;
          overflow: scroll;
          text-align: left;
     
     }
     .horizontal_rule_3 {
          margin: auto; 
     }
     .rectangle_40 {
          padding: 0px; 
           height: 100px;
     }
      
 }
 